<!DOCTYPE html>
<html>
  
<head>
  
<meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
<meta http-equiv = "Content-Language" content = "en-us" />
<title>Blog Site</title>
</head>

<body id = "background">

 
<h1>Mark's Portfolio Blog                                         <img alt="ko" src=/assets/ko.jpg /></h1>
<h5 align="right">Powered by: <img alt="Rails" src=/assets/rails.png  style="width:25px;height:25px;"> </h5>

  <div id = "container">

  <h3>Intro </h3>
  <p>This blog was created to document my ongoing QA professional growth. I've been taking online courses
  to further my skill set.  I took a certficate course online at <a href="https://www.csusm.edu/el/programs/science-technology/certwebdev/index.html">CSUSM</a> for full stack developer in front-end development using HTML5,
  CSS,Javascript, and Jquery, and back-end developement using Ruby on Rails 6.0.  Also, I've taken Professional Development course from Udemy
  in Automation using Robotframework with Python and selenium library. From trial and error and researching online I setup a Jenkins local
  machine to automatically build/test a testsuit for the below web application. The links below redirect to all aspects of my end to end environment.</p>
  <p>Lastly, I want to thank  <a href="http://www.michaelhartl.com/">Michael Hartl</a> and his course <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> for teaching his skill set to students who want to learn.</p>
  </p>
   <h3>Web Application</h3>
   <p>Application created using Ruby on Rails 6.0 framework and HTML5/CSS3/javascript/jquery for UI. Amazon cloud9 hosted IDE and Website hosted by Heroku which allows developmental websites under their domain.. Thanks Amazon and Heroku!!</p>
   <a href="https://enigmatic-inlet-91460.herokuapp.com/ ">Application Under Test</a>
   
   <h3>Source Control</h3>
   <p>Web Application/Automaton Test code are located at remote respositories on bitbuck (due to easy integration for AWS Cloud9 IDE and Heroku) and github for automation code.</p>
  
   - <a href="https://bitbucket.org/coda92056/rubyonrails/src/master/">For Web Application Under Test<br>
   - <a href="https://github.com/coda92056/master">For RobotFramework Test Cases</a></p>
   
   <h3>Automation</h3>
   <p>Automated Tests were created with Pycharm using Robotframework 3.0 and python v3.8.1 and selenium library v3.3.1.<br>Test Suite allows the build to ran against 
   Edge, Firefox, Chrome browsers and executes based on Tags for smoke,sanity, full testing.<br><br>
   - <a href=" https://sampleapptestresults.s3-us-west-2.amazonaws.com/report.html">Report file</a><br>
   - <a href=" https://sampleapptestresults.s3-us-west-2.amazonaws.com/log.html">Log file </a></p>
 
   
   <h3>Continuous Integration</h3>
   <p>Jenkins v2.204.5 running on my local win10 laptop. Due to jenkins running on my local machine the links below show the output of the automated build results</p>
   <p><a href="https://sampleapptestresults.s3-us-west-2.amazonaws.com/jenkins_robot_testsuite_jobs.png">Jenkins Builds</a></p s3://sampleapptestresults/jenkins_robot_testsuite_jobs.png
   

   <p>Site updated on 3/4/2020</p>
  </div>

</body>
</html>