<!DOCTYPE html>
<html>
  
<head>
  
<meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
<meta http-equiv = "Content-Language" content = "en-us" />
<title>Mark's Blog</title>
</head>

<body id = "background">

 
<h1>Mark's Portfolio Blog                                         <img alt="ko" src=/assets/ko.jpg /></h1>

  <div id = "container">

  <h3>Intro </h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
  
   <h3>Web Application</h3>
   
   <h3>Source Control</h3>
   
   <h3>Automation</h3>
   
   <h3>Continuous Integration</h3>
   
   <br>
   <br>
   <br>
   <br>
   <p></p>
   <h5>Powered by <img alt="Rails" src=/assets/rails.png  style="width:50px;height:50px;"/> </h5>

  </div>

</body>
</html>