@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

#container {
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  
}


h1 {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  background-color: red;
  color: white;
}

h5 {
  padding-top: 0px;
  padding-left: 800px;
  padding-bottom: 0px;
  padding-right: 10px;
}

